@import "tailwindcss";

@font-face {
  font-family: 'nunito';
  src: url('assets/Nunito-VariableFont_wght.ttf') format('truetype'),
}

@font-face {
  font-family: 'pretendard';
  src: url('assets/PretendardVariable.ttf') format('truetype'),
}

@layer base {
  body {
    font-family: 'pretendard';
    cursor: default;
    color: #4B4B4B;
    font-size: 14px;
  }

  h1 {
    font-family: 'nunito';
    font-size: 2.25rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .cursor-pointer,
  .cursor-pointer * {
    cursor: pointer;
  }
}